/***sidebar***/
.skin-black .sidebar > .sidebar-menu > li > a:hover, .skin-black .sidebar > .sidebar-menu > li.active > a{
  background: #85c226;
    color:#fff;
}

.skin-black .treeview-menu > li.active > a, .skin-black .treeview-menu > li > a:hover {
	color:#85c226;
}
}
.text-success{
 color: #85c226;
}


.navbar-nav > .user-menu > .dropdown-menu{
	width: 285px;
}
.skin-black .navbar .nav a{
	color: #787878;
}
.skin-black .navbar .nav > li > a:hover, .skin-black .navbar .nav .open > a:focus ,.skin-black .navbar .nav > li > a:active{
	color: #85c226;
}
.bg-light-blue {
    background-color: #333333 !important;
}
.pull-mid{
    display: inline-block;
    margin: 0px 3.5px;
}
.btn.btn-default,.bg-olive, .btn.btn-info,.btn.btn-success,.btn.btn-primary{
	background: #85c226 !important;
	color:#fff !important;
	border-color:#85c226 !important;
	padding: 6px 10px; 
	border-radius: 0px;
}
.btn.btn-default:hover, .btn.btn-info:hover,.btn.btn-success:hover,.btn.btn-primary:hover{
	background: #629119 !important;
	color:#fff !important;
	border-color:#629119 !important;
}
.btn.btn-warning{
	background: #2a8290 !important;
	color:#fff !important;
	border-color:#2a8290 !important;
    border-radius: 0px;
}
.btn.btn-warning:hover{
  background: #297988 !important;
}
.btn.btn-danger{
	background: #e86d5a!important;
	color:#fff !important;
	border-color:#e86d5a!important;
}
.btn.btn-danger:hover{
	background: #e2503a !important;
}
.toggle-off.btn{
	background: #2a8290 !important;
	color:#fff !important;
	border-color:#2a8290 !important;
    border-radius: 0px;
}
.toggle-off.btn:hover{
	background: #297988 !important;
}
 .toggle span.toggle-handle {
    background: #fff !important;
}
.toggle.btn.btn-default.off{
background: #2a8290 !important;
	color:#fff !important;
	border-color:#2a8290 !important;
    border-radius: 0px;
}
.toggle.btn.btn-default.off .toggle-handle:hover{
  background: #2a8290 !important;
}
.right-side > .content-header > .breadcrumb > li > a{
	color: #85c226;
}
.right-side > .content-header > h1{
	color: #85c226;
}
.box .box-header a {
    float: right;
    margin: 10px 10px 0px 0px;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus{
	color: #fff;
    background-color: #85c226;
    border-color: #85c226;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background: #2a8290 !important;
	color:#fff !important;
	border-color:#2a8290 !important;
}
.pagination>li {
    display: inline-block;
    margin-right: 5px;
}
.pagination>li:last-child {
    margin: 0px;
}
div.dataTables_filter input {
    height: 34px;
}
.box form{
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box.box-primary .img-circle {
	  margin-top: 20px;
	  height: 55px !important;
    width: 55px !important;
}
.img-circle {  
    border: 2px solid #333;   
}
.alert{
	width: 97.5%;
}
.creditCardForm {
	font-family: 'Source Sans Pro', sans-serif;
    max-width: 100%;
    background-color: #fff;
    margin: 0px auto;
    overflow: hidden;
    padding: 0px;
    color: #333;
    
}
.creditCardForm .heading h1{
	font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    text-align: left;
    font-size: 24px;	
}
.creditCardForm .payment {
    float: left;
    font-size: 14px;
    padding: 10px 0px;
    margin-top:0px;
}
.creditCardForm label{
	font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 5px;
    font-size: 14px;
}
.creditCardForm .payment .form-control{
	line-height: 34px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}
.creditCardForm .payment select {
    padding: 0px 10px;
    height: 34px;
    line-height: 34px;
}
#credit_cards img {
    width: 60px;
    height: 36px;
}
.hours {
    width: 100%;
}
.hours ul.open-down{
  display: inline-block;
  width: 100%;
  padding: 0px;
}
.hours ul.open-down .input-group {
    display: inline-block;
    width: 44%;
    margin: 0px 5px;
}
.hours ul.open-down .input-group .input-small {
    width: 75%;
    display: inline-block;
}
.hours ul.open-down .input-group-addon{
       width: auto;
    height: 34px;
    float: right;
}
.hours ul.open-down .input-group span i {
    line-height: 18px;
  }
.custom-tabing{
   	padding: 15px;
}
 .custom-tabing .nav-tabs>li{
  	z-index: 2;
  	position: relative;
  	background: #F5F5F5;
  	margin-right: 20px;
    list-style-type: none;
    margin-bottom: 0px;
 }
 .custom-tabing .nav-tabs>li>a{
	font-size: 14px;
	color: #333;
	border-radius: 0px;
	padding: 6px 10px;
}
 .custom-tabing .nav-tabs {
 border-bottom: 1px solid #85c226;
 float: left;
 width:100%;
}
 .custom-tabing .tab-content{
  border:1px solid #85c226;
  border-top:none;
  padding: 15px;
  display: inline-block !important;
  width: 100%;
}
.custom-tabing .nav-tabs>li:first-child::before{
	display: none;
}
.custom-tabing .nav-tabs>li::before {
    position: absolute;
    content: "";
    background: #F5F5F5;
    left: -5px;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    transform: skew(-17deg);
}
.custom-tabing .nav-tabs>li::after {
    position: absolute;
    content: "";
    background: #F5F5F5;
    right: -5px;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    transform: skew(17deg);
}
.custom-tabing .nav-tabs>li.resp-tab-active::before {
    position: absolute;
    content: "";
    background: #85c226;
    left: -5px;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    transform: skew(-17deg);
}
.custom-tabing .nav-tabs>li.resp-tab-active::after {
    position: absolute;
    content: "";
    background: #85c226;
    right: -5px;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    transform: skew(17deg);
}
.custom-tabing .nav-tabs>li>a:hover{
	background:transparent;
	border-color: transparent;
	color: #000;
}
.custom-tabing button.tbbtn {
    background: transparent;
    border: none;
    padding: 6px 10px;
    font-size: 14px;
}
.custom-tabing button.tbbtn:focus{
    outline: none !important;
}
.custom-tabing .resp-tab-content{
     border: 1px solid #85c226;
    border-top: none;
}
.custom-tabing .nav-tabs>li.resp-tab-active>button.tbbtn, .custom-tabing .nav-tabs>li.resp-tab-active>button.tbbtn:hover, .custom-tabing .nav-tabs>li.resp-tab-active>button.tbbtn:focus{
    background: #85c226;
    color:#fff;
    border-color:#85c226;
    outline: inherit;
}
.custom-tabing .nav-tabs>li.active>a, .custom-tabing .nav-tabs>li.active>a:hover, .custom-tabing .nav-tabs>li.active>a:focus{
    background: #85c226;
	color:#fff;
	border-color:#85c226;
}
.header .logo img {
    max-width: 130px;
    margin: 10px 0px 0px;
    width: 100%;
}
.user-panel {
    margin-top: 5px;
}
.small-box .icon.custm-briefcase{
    bottom: 0px;
}
select.form-control {
    padding: 6px 8px;
}
.alert {
    padding-left: 15px;
    margin-bottom: 0px;
}
.dataTables_length label {
    text-transform: capitalize;
}
.box-tools { 
    display: inline-block;    
    margin-top: 6px;
}
.box-tools .input-group {
    float: left;  
    width: 200px;  
    text-align: left; 
}
.box-tools .input-group input{ 
    width:100% !important; 
}
.input-group .input-group-btn button{ 
    padding: 5px 10px; 
}
.error{ 
    color: #a94442; 
}
/*****180320******/
.box p {
    padding: 0px 0px 10px 8px;
}
.thumbnail-pic{
    position: relative;
}
.thumbnail-pic .thumbnail {
    border: none;
    padding: 0px;
    width: 100%;
    height: 165px;
}
.thumbnail-pic .thumbnail img{
    height: 100%;
}
.thumbnail-pic .caption {
    position: absolute;
    width: auto;
    top: -1px;
    left: -1px;
}
#business_pictures .box-header{
        border-bottom: 2px solid #E6E9ED !important;
    width:100%;
    margin-bottom: 20px;
}
.thumbnail-pic .delete_picture{
    background: #85c227 !important;
    border-color: #85c227 !important;
    box-shadow: none !important;
}
.thumbnail-pic .delete_picture:hover{
    border-color: #e2503a !important;
}
.error {
    width: 100%;
}
/*****180321********/
#owner-form .box-footer,#edit-owner-form .box-footer{
    padding: 10px 0px;
}
#owner-form .box-body,#edit-owner-form .box-body{
    padding:10px 0px;
}
.box .box-header .bg-olive{
    padding: 4px 12px;
}
.box .box-header .box-tools {
    min-width: 315px;
    margin-top: 5px;
}
.box .box-header .box-tools .search-filter{
  margin: 0px;
  padding: 4px 12px;
}
body > .header .navbar{
   height: 60px; 
}
body > .header .logo{
    height: 60px;
}
body > .header .navbar .sidebar-toggle{
    margin-bottom: 12.5px;
    margin-top: 12.5px;
}
.navbar-nav>li>a {
    padding-top: 19.5px;
    padding-bottom: 19px;
}
b.cstm-bold {
    color: #85c227;
}
table.table >tbody>tr>td{
    border: 1px solid #ddd;
    word-break: break-all;
    max-width: 252px;
}
/** 180327 **/
table.table.table-hover.table-bordered tr td:first-child {
    max-width: 120px;
}
.box p {
    padding: 0;
    display: block;
    width: 100%;
}
.tooltip.fade.top.in {
    line-height: 22px;
}
 .box-header h3 {
    display: inline-block;
    font-size: 18px;
    text-transform: capitalize;
    color: #85c226;
}
div#business_description .box-header {
    border-bottom: 2px solid #E6E9ED;
}
.box-header.description-1,
.box-header.discounts-1,
.box-header.speciality-1,
.box-header.yauzer-1  {
    margin-bottom: 10px;
}
.box-header.payment-1,
.box-header.discounts-1,
.box-header.hours-1,
.box-header.info-1,
.box-header.adds-1,
.box-header.speciality-1,
.box-header.detail-1,
.box-header.yauzer-1  {
    border-bottom: 2px solid #E6E9ED;
}
.form-group .bootstrap-tagsinput {
    border-radius: 0;
    display: block;
    border:1px solid #aaa;
    padding: 2px;
}
.form-group .label-info {
    padding: 0px 5px;
    font-size: 14px;
    font-weight: normal;
    background-color: #eee;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
    background-image: linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0,0,0,.05);
    color: #333 !important;
    line-height: 13px;
    border: 1px solid #aaa;
}
span.tag.label.label-info span {
    font-weight: bold;
    font-size: 17px;
    position: relative;
    left: -5px;
    color: #797979;
}
/*****28032018*****/
.chosen-container-multi .chosen-choices li.search-field input[type=text]{
  min-width:253px !important;
}
ul.commentboxlist{
    padding: 0px;
    margin: 0px;
}
ul.commentboxlist li {
    list-style-type: none;
    margin:20px 0px 0px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    position: relative;
    display: inline-block;
    width: 100%;
}
ul.commentboxlist li h5.authorname {
    font-size: 16px;
    font-weight: 700;
}
ul.commentboxlist li:last-child{
    border-bottom: none;
}
ul.commentboxlist li figure {
    width: 10%;
    float: left;
    text-align: center;
}
ul.commentboxlist li  .commentbox-content {
    float: left;
    width: 90%;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    border-radius: 6px;
    padding: 20px;
}
ul.commentboxlist li .button-box {
    display: inline-block;
    position: absolute;
    right: 20px;
    width: 80px;
    top: 20px;
}
ul.commentboxlist li .rating-xs {
    font-size: 20px;
}
ul.commentboxlist li .rating-container .caption .label {
    padding: 6px 12px;
    vertical-align: middle;
    font-size: 12px;
}
ul.commentboxlist li .rating-container .clear-rating{
    display: none;
}
ul.speciality_checks {
    padding: 0;
}
ul.speciality_checks .commentbox-content p{
   font-weight: 700;
   line-height: 13px;
   margin-bottom: 10px;
}
ul.speciality_checks li {
    list-style-type: none;
    display: inline-block;
    width: 12.4%;
    text-align: center;
    border: 1px dotted #ccc;
    padding: 15px;
    margin:10px 20px 20px 0px;
}
ul.speciality_checks li:nth-child(7) {
    margin-right: 0px;
}
#edit-speciality-form .box-body .form-group label {
    width: 100%;
}
#edit-speciality-form .box-body .form-group br {
   display: none;
 }
#edit-speciality-form .box-body input[type="radio"]{
    opacity: 1 !important;
   height: inherit;
   margin: 0px;
}

.rating-container .caption .label.label-info {
    background-color: #5bc0de;
    border: none;
    background-image: none;
    box-shadow: none; color:#fff !important;
}
/*******180420**********/
.box-tools .input-group.date-group {
    max-width: 421px;
    width: 100%;
    margin: 0px 0px 0px 10px;
}
.start,.end{display: inline-block;position: relative;}
.start .error,.end .error{
    position: absolute;
    left: 70px;
    bottom: -20px;
    padding: 0px;
    width: 130px;
}
.start label,.end label{
  padding: 0px 10px;
  margin: 0px;
  vertical-align: middle;
}
.start label{
    padding-left: 0px;
}
.start input.form-control,.end input.form-control {
    width: 120px !important;
    display: inline-block;
}
.src-filter .search-filter {
    margin: 20px 0px 0px 15px !important;
}
.box .src-filter form {
    width: auto;
    display: inline-block;
}

section.content.basic-listing-page tbody tr th:first-child,
section.content.premium-listing-page tbody tr th:first-child  {
    width: 240px;
}
section.content.premium-listing-page tbody tr th:nth-child(4) {
    width:140px;
} 

/********Media Query***************/
@media screen and (max-width: 599px){
  .hours ul.open-down .input-group .input-small{
  	width:74%;
  }
}
@media screen and (max-width: 479px){
.hours {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}
.hours ul.open-down .input-group {
    width: 100%;
    margin: 0px;
}
.hours ul.open-down{
   text-align:left;
	}
.hours ul.open-down .input-group .input-small {
    width: 83%;
}	
}

/*** 180426 ***/
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer{
    background-color: transparent !important;
}
.navbar-nav > .user-menu > .dropdown-menu > li , .navbar-nav > .user-menu > .dropdown-menu > li.user-footer{
    display: block;
    padding-left: 37%;
    width: auto;
    text-align: left;
    margin-bottom: 5px;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-nav > .user-menu > .dropdown-menu > li:first-child:before{
    display: none;
}
.navbar-nav > .user-menu > .dropdown-menu > li:before , .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before{
    content: "\f105";
    font-family: 'FontAwesome';
    color: #84c225;
    font-size: 17px;
    top: -1px;
    position: absolute;
    margin-left: -11px;
}
.navbar-nav > .user-menu > .dropdown-menu > li a, .navbar-nav > .user-menu > .dropdown-menu > li.user-footer a {
    display: inline-block;
    color: #111 !important;
    background: transparent !important;
    padding: 0;
    font-weight: 500;
    font-size: 13px;
    border: none !important;
}
.navbar-nav > .user-menu > .dropdown-menu > li a:hover, .navbar-nav > .user-menu > .dropdown-menu > li.user-footer a:hover{
    background: transparent  !important;
    color: #84c225 !important;
}
.rating-stars .empty-stars span {
    color: #dbedb4 !important;
    -webkit-text-stroke: 1px #777;
    font-size: 24px;
}
.rating-stars .filled-stars span{ color: #fffb00 !important; font-size: 24px;}